    <div class="comment">
        <div class="comment-info">
            <span class="comment-date"></span>
            <span class="comment-username"></span>
        </div>
        <div class="comment-text"></div>
        <div class="comment-controls-wrapper">
            <a class="comment-controls" value="">
                <span>Clarification</span>
                <span class="card-downvote-count">0</span>
            </a>
            <a class="comment-controls" value="">
                <span>Supporting Argument</span>
                <span class="card-downvote-count">0</span>
            </a>
            <a class="comment-controls" value="">
                <span>Counterargument</span>
                <span class="card-counterargument-count">0</span>
            </a>
            <a class="comment-controls" value="">
                <span>Reply</span>
            </a>
            <div class="comment replied">
                <div class="comment-info">
                    <span class="comment-date"></span>
                    <span class="comment-username"></span>
                </div>
                <div class="comment-text"></div>
                <div class="comment-controls-wrapper">
                    <a class="comment-controls" value="">
                        <span>Clarification</span>
                        <span class="card-downvote-count">0</span>
                    </a>
                    <a class="comment-controls" value="}">
                        <span>Supporting Argument</span>
                        <span class="card-downvote-count">0</span>
                    </a>
                    <a class="comment-controls" value="">
                        <span>Counterargument</span>
                        <span class="card-counterargument-count">0</span>
                    </a>
                    <a class="comment-controls" value="">
                        <span>Reply</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    