<!DOCTYPE html>
<html lang="en">
<style>
  
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- <title>{% block title %} Arix {% endblock %}</title> -->
    <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/animation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/claim.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/mediaQueries.css') }}">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous">
    </script>
    <script src="{{ url_for('static', filename= 'js/index.js') }}"> </script>
    <script src="{{ url_for('static', filename= 'js/timeSince.js') }}"> </script>

</head>