@media only screen and (max-width: 821px){

    .btn-logout{
        font-size: 10px !important;
    }

    

}

@media only screen and (max-width: 1050px){

    .btn-signup{
        font-size: 10px !important;
    }

    .btn-login{
        font-size: 10px !important;
    }
}

@media only screen and (max-width: 1600px){

    .main-navbar{
        height: 5% !important;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }